#### Data Loading

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load Data
df = pd.read_csv('Dataset.csv')
df.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,11,'C1760492708','1','F','28007','M1823072687','28007','es_transportation',52.35,0
1,172,'C1222389110','3','M','28007','M1823072687','28007','es_transportation',14.75,0
2,106,'C879949041','3','F','28007','M1823072687','28007','es_transportation',3.73,0
3,86,'C409740988','5','M','28007','M1823072687','28007','es_transportation',61.42,0
4,152,'C671449181','3','F','28007','M692898500','28007','es_health',9.05,0

In [3]:
sns.set(style='whitegrid')
pd.set_option('display.max_columns', None)

In [4]:
print(df.shape)
print(df.dtypes)
df.head()
df.tail()
df.sample(5)

(535178, 10)
step             int64
customer        object
age             object
gender          object
zipcodeOri      object
merchant        object
zipMerchant     object
category        object
amount         float64
fraud            int64
dtype: object

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
247197,91,'C1872482068','4','M','28007','M1823072687','28007','es_transportation',4.56,0
394309,57,'C53497422','3','M','28007','M85975013','28007','es_food',52.10,0
137627,60,'C461669469','6','F','28007','M348934600','28007','es_transportation',12.70,0
45865,55,'C129566217','4','M','28007','M348934600','28007','es_transportation',7.00,0
430907,71,'C1160421902','3','M','28007','M85975013','28007','es_food',55.95,0

In [5]:
# Null check
df.isnull().sum()

# Data types summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535178 entries, 0 to 535177
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   step         535178 non-null  int64
 1   customer     535178 non-null  object
 2   age          535178 non-null  object
 3   gender       535178 non-null  object
 4   zipcodeOri   535178 non-null  object
 5   merchant     535178 non-null  object
 6   zipMerchant  535178 non-null  object
 7   category     535178 non-null  object
 8   amount       535178 non-null  float64
 9   fraud        535178 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 40.8+ MB

In [7]:
!git add .
!git commit -m "Null Values and Data Types"
!git push -u origin main

warning: in the working copy of '.ipynb_checkpoints/DS_ML-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of '.ipynb_checkpoints/Dataset-checkpoint.csv', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Dataset.csv', LF will be replaced by CRLF the next time Git touches it

[main (root-commit) df4fdd3] Null Values and Data Types
 4 files changed, 1070773 insertions(+)
 create mode 100644 .ipynb_checkpoints/DS_ML-checkpoint.ipynb
 create mode 100644 .ipynb_checkpoints/Dataset-checkpoint.csv
 create mode 100644 DS_ML.ipynb
 create mode 100644 Dataset.csv

remote: Repository not found.
fatal: repository 'https://github.com/Rmp2404/HSBC_hackathon_2025.git/' not found